{% extends "base_layout.html" %}
{% load i18n %}
{% load model_details %}

{% block subtitle %}
    {% if user_profile %}
    - {% trans "Профиль" %} {{ user_profile }} {% if account %}({{ account.username }}){% endif %}
    {% endif %}
{% endblock subtitle %}

{% block maincontent %}
    {% if user_profile %}
        <table>
            {% model_details user_profile exclude_fields %}
                <tr>
                    <td class="{{ field_caption_class }}">{{ caption }}</td>
                    <td class="{{ field_value_class }}">{{ value }}</td>
                </tr>
            {% endmodel_details %}
        </table>
    {% else %}
        {% trans "Профиль указанного пользователя не найден" %}
    {% endif %}
{% endblock %}