{% extends "base_layout.html" %}
{% load i18n %}

{% block subtitle %} - {% trans "Редактирование профиля" %}{% endblock subtitle %}

{% block maincontent %}
    <h3>{% trans "Редактирование профиля" %}</h3>
    {% include "common/_generic_edit_form.html" with submit_label="Сохранить" action="" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        var page_data = {
            target: 'div.edit-form',
            error_popup_selector: "div.field_errors_list",
            field_errors_selector: '.field_errors'
        }
    </script>
{% endblock scripts %}

{% block data_start %}pages/edit_form{% endblock %}
