{% extends "base_login.html" %}
{% load i18n %}
{% block auth_content %}

    {% if form.errors %}
        <p>{% trans "Введено неверное имя пользователя или пароль. Попробуйте еще раз" %}</p>
    {% endif %}

    <form method="post" action="{% url 'authentication.login' %}" class='form-horizontal'>
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="username">{{ form.username.label }}</label>

            <div class="controls">
                <input type="text" id='username' name="{{ form.username.html_name }}" placeholder="{% trans "Логин" %}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">{{ form.password.label }}</label>

            <div class="controls">
                <input type="password" id='password' name="{{ form.password.html_name }}"
                       placeholder="{% trans "Пароль" %}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{% trans "Войти в систему" %}" class="btn btn-primary"/>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

{% endblock auth_content %}