{% extends "base_layout.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block page_title %}{{ caption }}{% endblock page_title %}

{% block maincontent %}
    <div class='approval-editor'>
        <div>
            <div class="row" id='editor-header'>
                <form method="POST" class="form-inline" id='editor-form'>
                    <input type='hidden' name='route-pk' id='route-pk'>
                    <input type='hidden' name='route-is-template' id='route-is-template'>
                    <span class='span4 control-group'>
                        <label class='control-label' for='route_name'>{% trans "Название" %}</label>
                        <input type='text' name='route-name' id='route-name'/>
                    </span>
                    <span class='span5 control-group'>
                        <label class='control-label' for='route_description'>{% trans "Описание" %}</label>
                        <input type='text' name='route-description' id='route-description' class="input-xlarge"/>
                    </span>
                    <span class='span3 text-right'>
                        <button class='btn btn-primary' id='btn-save'>{% trans "Сохранить" %}</button>
                        <button class='btn btn-secondary' id='btn-revert'>{% trans "Сбросить" %}</button>
                    </span>
                </form>
            </div>

            <div class="row-fluid">
                <div class="sidebar span3">
                    <h4>Шаблонные маршруты</h4>

                    <div id='template-routes-pane'></div>
                </div>
                <div class="span9">
                    <div id='approval-steps-editor'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block scripts_for_execution %}
    {{ block.super }}
    <script type='text/javascript'>
        require(['jquery', 'app/approval_route_editor'], function ($) {
            $(function () {
                $("#approval-steps-editor").approval_route_editor(
                        {
                            approvers_source_url: '{% url approver_list_url %}',
                            template_route_source_url: '{% url template_route_list_url %}',
                            approval_route_backend: '{% url approval_route_backend_url %}',
                            $form: $("#editor-form"),
                            $template_routes_pane: $("#template-routes-pane"),
                            $save_trigger: $('#btn-save'),
                            $revert_trigger: $('#btn-revert'),
                            controls: {
                                pk_input_selector: "#route-pk",
                                name_input_selector: '#route-name',
                                desc_input_selector: '#route-description',
                                is_template_input_selector: '#route-is-template'
                            }
                        },
                        {
                            header_data: {
                                pk: {{ route_data.pk }},
                                name: '{{ route_data.name }}',
                                description: '{{ route_data.description }}',
                                is_template: {{ route_data.is_template|lower }}
                            },
                            steps: {{ route_data.steps_as_json|safe }}
                        }
                );
            });
        });
    </script>
{% endblock scripts_for_execution %}