//@import "../variables.less";
//@import "../mixins.less";

/*approval_editor.less*/
div.approval-editor {
  div.sidebar {
    border: 1px solid @default-border-color;
    .rounded-borders-mixin(3px);
    margin-left: -30px !important;
    margin-bottom: -1px;
    padding: 10px 20px;
    background-color: @sidebar-color;
  }

  div#approval-steps-editor {
    td.buttons-cell {
      width: 70px;
      #approval-editor > .button;
    }

    td {
      &.buttons-cell,
      &.step-label {
        width: 65px;
        vertical-align: baseline;
        padding-left: 0px;
        padding-right: 0px;
      }

      &.steps {
        div.row-fluid {
          span[class*=span] {
            margin-left: 10px;
          }
        }

        span.add-approver {
          #approval-editor > .button(5px);
        }
      }
    }

  }
}

/*approval_editor.less end*/