@import-once "../variables";
@import-once "../mixins";

/*approval_editor.less*/
div.approval-editor {
  div.sidebar {
    div#template-routes-pane {
      td.apply-template-button-cell {
        #approval-editor > .button;
      }
    }
  }

  div#editor-header {
    margin-bottom: 10px;
  }

  div#approval-steps-editor {
    td.buttons-cell {
      width: 70px;
      #approval-editor > .button;
    }

    td {
      &.buttons-cell,
      &.step-label {
        width: 65px;
        vertical-align: baseline;
        padding-left: 0px;
        padding-right: 0px;
      }

      &.steps {
        div.row-fluid {
          span[class*=span] {
            margin-left: 10px;
          }

          span.span-approver {
            position: relative;
            padding: 4px 2px;
            margin-bottom: 5px;

            select.approver-selector {
              width: 100%;
            }

            span.approver-remove {
              position: absolute;
              top: -6px;
              left: -3px;
              cursor: pointer;
              img.remove-approver-button {
                width: 12px;
                height: 12px;
              }
            }

            select {
              margin-bottom: 0px;
            }
          }
        }

        span.add-approver {
          padding: 4px 2px;
          #approval-editor > .button(5px);
        }

      }
    }

  }
}

/*approval_editor.less end*/