@import-once "../variables.less";

html.JS {
  ul.menu {
    display: none;
  }
}

body.main-body {
  padding: @body-padding;

  div.container-wrapper {
    width: auto;
    padding: 0px @content-padding-horizontal;
  }

  div.main-header {
    margin: 0px @content-margin-horizontal;
    .logo-container {
      float: left;
      img#logo {
        width: 175px;
        height: 80px;
      }
    }

    .user-actions {
      float: right;
    }
  }

  div.main-content {
    margin: @content-margin-vertical @content-margin-horizontal;
    padding: @content-padding-vertical @content-padding-horizontal;
    border: 1px solid @content-border-color;
    min-height: @content-min-height;
    background-color: @content-background-color;
    vertical-align: top;
    position: relative;
    overflow: auto;

    .rounded-borders-mixin;
  }

  div.main-footer {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 2px inset @default-border-color;
    padding: @footer-padding;
    bottom: 0px;
  }
}

table {
  &.table {
    /*overriding bootstrap*/
    &.table-noborder {
      th, td {
        border: none;
      }
    }
  }
}

div.clear-float {
  clear: both;
}

div.floating-layout {
  position: relative;

  & > div {
    margin-left: 10px;
  }

  &.child-float-left > div {
    float: left;
  }
  &.child-float-right > div {
    float: right;
  }
}

.edit-form {
  th {
    #fonts > .form-label;
    padding-right: 15px;

    label {
      white-space: nowrap;
    }
  }

  .field_errors {
    color: @form-error-color;
    cursor: pointer;
  }

  .field_errors_list {
    cursor: pointer;
    color: @base-font-color;
    #popups > .error-popup-window;
  }
}

div.sidebar {
  border: 1px solid @default-border-color;
  .rounded-borders-mixin(3px);
  #fixes > .border-box-fix;
  margin-bottom: -1px;
  padding: 5px 10px;
  background-color: @sidebar-color;
}


