@import-once "../variables";
@import-once "../mixins";

.popup-menu {
  display: none;
  position: absolute;
  padding: @popup-padding;
  background-color: @popup-background;
  border: 1px solid @popup-border-color;
  .rounded-borders-mixin;
}

#main-menu {
  margin: @content-margin-vertical @content-margin-horizontal;
  img {
    #menus > .menu-item-icon();
  }

  li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0px;
  }

  li > a {
    #fonts > .menu-item;
    &:focus, &:hover {
      #fonts > .menu-item-top-level-focused;
    }
  }

  li.dropdown li > a {
    &:focus, &:hover {
      #fonts > .menu-item-focused;
    }
  }
}


