@import-once "../variables";
@import-once "../mixins";

.popup-menu {
  display: none;
  position: absolute;
  padding: @popup-padding;
  background-color: @popup-background;
  border: 1px solid @popup-border-color;
  .rounded-borders-mixin;
}

#main-menu {
  margin: @content-margin-top @content-margin-left+1px @content-margin-bottom @content-margin-right+1px;

  .navbar-inner {
    .rounded-borders-mixin(5px);
  }

  span.logo {
    float: left;
    img {
      height: 40px;
      width: 80px;
    }
  }

  img {
    #menus > .menu-item-icon();
  }

  li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0px;
  }

  li > a {
    #fonts > .menu-item;
    &:focus, &:hover {
      #fonts > .menu-item-top-level-focused;
    }
  }

  li.dropdown li > a {
    &:focus, &:hover {
      #fonts > .menu-item-focused;
    }
  }

  .current-user-indicator {
    float: right;
    text-align: right;
    margin-right: 10px;
    #fonts > .minor-text;
  }
}


