@import-once "../variables";
@import-once "../mixins";

.collapsible-heading {
  border-bottom: 1px solid @collapsible-heading-border;
  margin-bottom: 4px;

  .collapsible-toggle {
    cursor: pointer;

    span.ui-icon {
      float: left;
      margin-left: 10px;
    }
  }
}

form.search-form {
  label.control-label {
    width: 115px;
  }
  div.control-group {
    margin-bottom: 5px;
    div.controls {
      margin-left: 125px;
    }
  }
  input {
    #fixes > .border-box-fix(border-box);
    height: 30px;
  }

  select {
    #fixes > .border-box-fix(border-box);

    &.uneditable-input {
      height: 30px;
    }
  }
}