{% load i18n %}
<form action="{{ action }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <table class='edit-form'>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <tr>
                <th>
                    {% if field.errors %}
                        <div>{% endif %} {# line A #}
                    {{ field.label_tag }}
                    {% if field.errors %}
                        <span class='field_errors' title=''>*</span>
                        <div class='field_errors_list'>
                            {% for error in field.errors %}
                                <div class='field_error'>{{ error }}</div>
                            {% endfor %}
                        </div>
                        </div> {# closing div opened at line A #}
                    {% endif %}
                </th>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        <tr class='submit-row'>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value={% trans submit_label|default:"Отправить" %}
                        </td>
        </tr>
    </table>
</form>
<script type='text/javascript' language="JavaScript">
    (function ($) {
        var error_popup_selector = "div.field_errors_list";
        $(function () {
            $('table.edit-form').find('.field_errors').parent("div").hover(
                    function () {
                        $(this).children(error_popup_selector).show();
                    },
                    function () {
                        $(this).children(error_popup_selector).hide();
                    }
            );

            $(error_popup_selector).click(function () {
                $(this).hide();
            });
        });
    }(window.jQuery))
</script>