Babel==0.9.6
CairoSVG==0.5
Django==1.5.1
Fabric==1.7.0
Pillow==2.3.0
PyYAML==3.10
Pyphen==0.7
South==0.8.1
WeasyPrint==0.19.1
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.34
cairocffi==0.4.3
celery==3.0.24
cffi==0.6
cssselect==0.8
django-celery==3.0.23
django-datatables-view==1.4
django-guardian==1.1.1
django-jsonfield==0.9.4
django-reversion==1.7
html5lib==1.0b1
kombu==2.5.15
lxml==3.2.1
paramiko==1.11.0
psycopg2==2.5
pycparser==2.09.1
pycrypto==2.6
python-dateutil==2.1
python-magic==0.4.3
pytz==2013.7
reportlab==2.7
six==1.3.0
tinycss==0.3
wsgiref==0.1.2
