{% extends "base_layout.html" %}
{% load i18n %}
{% load model_details %}

{% block maincontent %}
    {% if doc_request %}
        <h3>{{ doc_request.name }}</h3>
        <table>
            {% model_details doc_request exclude_fields %}
                <tr>
                    <td class="{{ field_caption_class }}">{{ caption }}</td>
                    <td class="{{ field_value_class }}">{{ value }}</td>
                </tr>
            {% endmodel_details %}
        </table>
    {% endif %}
{% endblock %}