{% extends "base_layout.html" %}
{% load i18n %}
{% load model_details %}

{% block subtitle %} - {{ doc_request }}{% endblock %}

{% block maincontent %}
    {% if doc_request %}
        <div class='row'>
            <div class='sidebar span3'>
                <h5>{% trans "Действия" %}</h5>
                {% include "request/_request_actions.html" with actions=actions element_id='action-panel' %}
            </div>
            <div class="span5">
                <h4>{% trans "Заявка" %}</h4>
                <table class='table table-condensed table-noborder'>
                    {% model_details doc_request exclude_fields=exclude_fields_req %}
                        <tr>
                            <td class="{{ field_caption_class }}">{{ caption }}</td>
                            <td class="{{ field_value_class }}">{{ value }}</td>
                        </tr>
                        {% extra %}
                        {% with approvers=doc_request.get_current_approvers %}
                            {% if approvers %}
                                <tr>
                                    <td>{% trans "Текущие утверждающие" %}</td>
                                    <td>
                                        {% for profile in approvers %}
                                            {{ profile.full_name }}<br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                    {% endmodel_details %}
                    {% if show_approval_process %}
                        <tr>
                            <td>{% trans "Процесс утверждения" %}</td>
                            <td><a href="{{ approval_process_url }}">{% trans "Процесс утверждения" %}</a></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="span4">
                <h4>{% trans "Договор" %}</h4>
                {% include "request/_contract_details.html" with contract=contract %}
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block data_start %}pages/request_details{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript'>
        var page_data = {
            target: "#action-panel",
            request_id: {{ doc_request.pk }},
            config: {
                actions_backend_url: '{{ actions_backend_url }}'
            }
        };
    </script>
{% endblock scripts %}