{% extends "base_layout.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block scripts %}
    <script type="text/javascript" language="JavaScript" src="{{ STATIC_URL }}js/app/forms.js"
            xmlns="http://www.w3.org/1999/html"></script>
{% endblock scripts %}

{% block maincontent %}
    <h3>{% trans form_heading %}</h3>
    <form action="{{ action }}" method="post"
          {% if request_form.is_multipart or contract_form.is_multipart %}enctype="multipart/form-data"{% endif %}
          class='form-horizontal'>
        {% csrf_token %}
        <div class='row'>
            <div class='span6'>
                {% include "common/_headless_form.html" with form=request_form %}
            </div>
            <div class='span5'>
                {% include "common/_headless_form.html" with form=contract_form %}
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value='{% trans form_submit %}'/>
            <a href="{{ return_url }}" class="btn">{% trans "Отмена" %}</a>
        </div>
    </form>
{% endblock %}

{% block scripts_for_execution %}
    {{ block.super }}
    <script type='text/javascript' language="JavaScript">
        $(function () {
            $('div.edit-form').error_handling_form({
                error_popup_selector: "div.field_errors_list",
                field_errors_selector: '.field_errors'
            });
        });
    </script>
{% endblock scripts_for_execution %}