{% extends "base_layout.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type='text/javascript' src="{% static "js/datatables/jquery.dataTables.min.js" %}"></script>
    <script type='text/javascript' src="{% static "js/datatables/dt_bootstrap.js" %}"></script>
    <script type='text/javascript' src="{% static "js/datatables/ajax_configurable_datatables.js" %}"></script>
{% endblock scripts %}

{% block styles %}
    <link rel='stylesheet' type="text/css" href="{% static "js/datatables/jquery.dataTables.css" %}"/>
    <link rel='stylesheet' type="text/css" href="{% static "js/datatables/dt_bootstrap.css" %}"/>
{% endblock styles %}

{% block maincontent %}
    <table id="grid">
        <thead></thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block scripts_for_execution %}
    <script type="text/javascript" language="JavaScript">
        $(function () {
            $('#grid').ajaxConfigurableDatatables({
                data_url: '{% url datatables_data %}',
                config_url: '{% url datatables_config %}',
                csrftoken: $.cookie('csrftoken')
            });
        });
    </script>
{% endblock scripts_for_execution %}