{% extends "base_datatables_layout.html" %}
{% load i18n %}

{% block subtitle %} - {% trans "Список заявок" %}{% endblock %}

{% block maincontent %}
    {% include "request/_search_form.html" with show_only=show_only form_id='search_form' form_prefix='' filter_data=filter_data %}
    <table id="grid" class="table"></table>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        var page_data = {
            target: '#grid',
            data_url: '{% url datatables_data %}',
            config_url: '{% url datatables_config %}',
            search_form: '#search_form',
            search_form_prefix: '',
            extra_config_params: {
                {% for param_name, param_value in extra_config_params.items %}
                    {% if param_value %}
                        '{{ param_name }}': '{{ param_value }}',
                    {% endif %}
                {% endfor %}
            },
            fixed_filters: {
                {% for filter_id, filter_value in fixed_filters.items %}
                    '{{ filter_id }}': '{{ filter_value }}',
                {% endfor %}
            }
        }
    </script>
{% endblock scripts %}

{% block data_start %}pages/datatables{% endblock %}