{% extends "base_datatables_layout.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block maincontent %}
    <table id="grid" class="table"></table>
{% endblock %}

{% block scripts_for_execution %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        $(function () {
            $('#grid').ajaxConfigurableDatatables({
                data_url: '{% url datatables_data %}',
                config_url: '{% url datatables_config %}',
                {% if show_only %}
                    extra_server_params: {'show_only': '{{ show_only }}'}
                {% endif %}
            });
        });
    </script>
{% endblock scripts_for_execution %}