{% extends "base_layout.html" %}
{% load i18n %}

{% block subtitle %} - {% trans "История заявки" %} {{ request }}{% endblock %}
{% block page_title %}{% trans "История заявки" %} {{ request }}{% endblock page_title %}

{% block maincontent %}
    {% include "common/_paginator.html" with page_data=page_obj paginator=paginator %}
    <table class='table table-striped'>
        <tr>
            <th></th>
            <th>Действие</th>
            <th>Дата</th>
            <th>Пользователь</th>
            <th>Комментарий</th>
        </tr>
        {% for record in page_obj %}
            <tr>
                <td><img class='icon' src="{{ STATIC_URL }}img/icons/{{ record.icon }}"/></td>
                <td>{{ record.get_action_type_display }}</td>
                <td>{{ record.action_date }}</td>
                <td>{{ record.actor }}</td>
                <td>{{ record.comments|default:""|linebreaksbr }}</td>
            </tr>
        {% empty %}
            <tr class='no-data'>
            <td colspan="5">{% trans "Нет данных" %}</td>
        {% endfor %}
    </table>
    {% include "common/_paginator.html" with page_data=page_obj %}

{% endblock maincontent %}