{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
        {% block maintitle %}{% trans "Утверждение документов" %}{% endblock maintitle %}
        {% block subtitle %}{% endblock subtitle %}
    </title>
    <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/print.css" media="{{ media }}"/>
</head>
<body>
<div class='page'>
    <p class='doc-heading'>
        Приложение №1<br/>
        к Положению о договорной работе<br/>
        от {{ request.created|date:date_format }}
    </p>

    <p class='doc-title'>Лист согласования</p>
    <table class='main-table'>
        {% for row in rows %}
            <tr class='{{ row.css_class }}'>
                {% for cell in row.cells %}
                    <td colspan="{{ cell.colspan }}" class='{{ cell.css_class }}'>{{ cell.content }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>