{% extends "base_layout.html" %}
{% load i18n %}

{% block page_title %}{% trans "История заявки" %}{% endblock page_title %}

{% block maincontent %}
    {% include "common/_paginator.html" with page_data=page_obj paginator=paginator %}
    <table class='table table-striped'>
        <tr>
            <th></th>
            <th>Действие</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        {% for action in page_obj %}
            <tr>
                <td></td>
                <td>{{ action.get_action_display_past_form }}</td>
                <td>{{ action.action_taken }}</td>
                <td>{{ action.actor }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "common/_paginator.html" with page_data=page_obj %}

{% endblock maincontent %}