{% extends "home_page/_part_layout.html" %}
{% load i18n %}

{% block part_title %}
    {% trans "Мои заявки" %}
{% endblock part_title %}

{% block part_body %}
    <table class='table table-striped'>
        <tr>
            <th>{% trans "Наименование" %}</th>
            <th>{% trans "Город действия" %}</th>
            <th>{% trans "Статус" %}</th>
            <th>{% trans "Инициатор" %}</th>
            <th>{% trans "Отправить на подпись" %}</th>
            <th>{% trans "Дата создания" %}</th>
        </tr>
        {% for request in data %}
            <tr>
                <td><a href='{{ request.get_absolute_url }}'>{{ request.name }}</a></td>
                <td>{{ request.city.name }}</td>
                <td>{{ request.status.name }}</td>
                <td><a href='{{ request.creator.get_absolute_url }}'>{{ request.creator.full_name }}</a></td>
                <td>
                    <a href='{{ request.send_on_approval.get_absolute_url }}'>{{ request.send_on_approval.full_name }}</a>
                </td>
                <td>{{ request.created }}</td>
            </tr>
        {% empty %}
            <tr class='no-data'>
                <td>{% trans "Нет заявок требующих утверждения" %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock part_body %}