@import-once "variables";
@import "lib_css/jquery.dataTables.less";
@import "lib_css/dt_bootstrap.less";

div.dataTables_wrapper {
  div.btns {
    button.btn {
      margin-right: @datatables-header-action-buttons-spacing;
    }
  }
  div.dataTables_length {
    float: right;
  }

  table.dataTable {
    input[type='checkbox'] {
      vertical-align: top;
    }
  }

  tr {
    td {
      &.actions_column {
        width: 40px;
      }

      span.btn-wrapper {
        white-space: nowrap;
        img {
          height: @datatables-action-buttons-size;
          width: @datatables-action-buttons-size;
          margin-right: @datatables-action-buttons-spacing;
          cursor: pointer;
        }
      }
    }
  }
}