@import-once "variables";

#fonts{
  @size: @base-font-size;
  @color: @base-font-color;
  @family: @base-font-family;
  @weight: normal;
  .define(@size, @color, @family, @weight) {
    font-size: @size;
    color: @color;
    font-family: @family;
    font-weight: @weight;
  }
  .main-text() {
    .define(@size, @color, @family, @weight);
  }

  .menu-item {
    color: #f70;
  }
  .menu-item-focused{
    color: #fff;
  }
  .menu-item-top-level-focused{
    color: #e60;
  }

  .form-label() {
    @weight: bold;
    .define(@size, @color, @family, @weight);
    text-align: left;
  }

  .base-message() {
    .define(@size, @color, @family, @weight);
  }

  .message-error() {
    @color: #f33;
    .define(@size, @color, @family, @weight);
  }
}

.rounded-borders-mixin(@radius: 5px){
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.rounded-borders-mixin(@top-left, @top-right, @bottom-left, @bottom-right){
  border-top-left-radius: @top-left;
  -moz-border-top-left-radius: @top-left;
  -webkit-border-top-left-radius: @top-left;

  border-top-right-radius: @top-right;
  -moz-border-top-right-radius: @top-right;
  -webkit-border-top-right-radius: @top-right;

  border-bottom-left-radius: @bottom-left;
  -moz-border-bottom-left-radius: @bottom-left;
  -webkit-border-bottom-left-radius: @bottom-left;

  border-bottom-right-radius: @bottom-right;
  -moz-border-bottom-right-radius: @bottom-right;
  -webkit-border-bottom-right-radius: @bottom-right;
}

#menus() {
  .menu-item-icon(@height: @icon-height, @margin: @icon-default-margin){
    height:  @height;
    margin:  @margin;
    vertical-align:top;
  }
}

#popups() {
  .popup-mixin() {
    display: none;
    padding: 10px;
    border: 1px;
  }

  .popup-window() {
    #popups > .popup-mixin;
    position: absolute;
    border: 1px solid @default-border-color;
    background-color: @popup-background;
    .rounded-borders-mixin()
  }

  .error-popup-window() {
    #popups > .popup-window;
    background-color: @error-popup-background;
  }
}
