@import "variables.less";

@size: @base-font-size;
@weight: normal;
@color: @base-font-color;
@family: @base-font-family;
#fonts() {
  .define() {
    font-size: @size;
    color: @color;
    font-family: @family;
    font-weight: @weight;
  }

  .main-text {
    #fonts > .define;
  }
}

#main-layout() {
  .footer {
    height: 1px;
  }
}

.popup-mixin {
  padding: 10px;
  border: 1px;
}