@import "variables";
@import "mixins";

/* Font declararions */
@font-face {
  font-family: "Times New Roman Cyr";
  src: url(../fonts/Times-New-Roman-Cyr-Regular.ttf);
}

/* End Font declarations */

body {
  margin: 0;
  padding: 0;

  div.page {

    font-family: "Times New Roman Cyr";
    width: 210mm;
    height: 265mm;
  }
}

body.screen {
  div.page {
    margin: 20mm 15mm 12mm 30mm;
  }
}