@import "variables";
@import "mixins";

@page {
  size: a4 portrait;
  margin: @page-margin-top @page-margin-right @page-margin-bottom @page-margin-left;
}

.center {
  text-align: center;
}

img.signature {
  height: 2*@approval-list-row-line-height;

  z-index: 10;
}

body {
  margin: 0;
  padding: 0;

  div.page {
    #fonts > #approval-list > .base-font;

    p {
      margin: 0;
      &.doc-heading {
        text-align: right;
        #fonts > #approval-list > .heading;
        margin-right: 1cm;
      }
      &.doc-title {
        margin-top: 12pt;
        #fonts > #approval-list > .title;
      }
    }

    table.main-table {
      border-collapse: collapse;
      width: @approval-list-cell1 + @approval-list-cell2 + @approval-list-cell3 + @approval-list-cell4 + @approval-list-cell5 + @approval-list-cell6;
      #fonts > #approval-list > .table-font;
      tr {
        &.row-height1 {
          height: 1*@approval-list-row-line-height;
          td {
            height: 1*@approval-list-row-line-height;
          }
        }
        &.row-height2 {
          height: 2*@approval-list-row-line-height;
          td {
            height: 2*@approval-list-row-line-height;
          }
        }
        &.row-height3 {
          height: 3*@approval-list-row-line-height;
          td {
            height: 3*@approval-list-row-line-height;
          }
        }

        td {
          border: 0.5pt solid black;
          padding: @approval-list-cell-vertical-padding @approval-list-cell-horizontal-padding;

          &.cell1 {
            width: @approval-list-cell1 - 2 * @approval-list-cell-horizontal-padding;
            #fonts > #approval-list > .table-label;
          }
          &.cell2 {
            width: @approval-list-cell2 - 2 * @approval-list-cell-horizontal-padding;
          }
          &.cell3 {
            width: @approval-list-cell3 - 2 * @approval-list-cell-horizontal-padding;
            text-align: center;
          }
          &.cell4 {
            width: @approval-list-cell4 - 2 * @approval-list-cell-horizontal-padding;
            #fonts > #approval-list > .table-label;
            text-align: right;
          }
          &.cell5 {
            width: @approval-list-cell5 - 2 * @approval-list-cell-horizontal-padding;
          }
          &.cell6 {
            width: @approval-list-cell6 - 2 * @approval-list-cell-horizontal-padding;
          }

          &.cell1-colspan2 {
            width: @approval-list-cell1 + @approval-list-cell2 - 2 * @approval-list-cell-horizontal-padding;
          }

          &.cell4-colspan2 {
            width: @approval-list-cell4 + @approval-list-cell5 - 2 * @approval-list-cell-horizontal-padding;
            text-align: center;
          }

          &.cell1-colspan3 {
            width: @approval-list-cell1 + @approval-list-cell2 + @approval-list-cell3 - 2 * @approval-list-cell-horizontal-padding;
            &.department {
              #fonts > #approval-list > .table-department;
            }
          }
        }
      }
    }
  }
}

@media screen {
  body {
    div.page {
      padding: @page-margin-top @page-margin-right @page-margin-bottom @page-margin-left;
      width: 210mm;
      height: 297mm;
      #fixes > .border-box-fix;
      border: 1px solid black;
      margin: 5px;
    }
  }
}