//General

//Gerenal.Fonts
@base-font-size: 14px;
@base-font-color: #000;
@base-font-family: Arial, Helvetica, sans-serif;

//Genereal.Layout
@body-padding-vertical: 10px;
@body-padding-horizontal: 5px;
@body-padding: @body-padding-horizontal @body-padding-vertical;
@content-padding-horizontal: 10px;
@content-padding-vertical: 10px;
@content-margin-vertical: 5px;
@content-margin-horizontal: -11px;
@content-min-height: 400px;
@footer-padding: 5px 0px;

//General.Controls
@datepicker-width: 80px;

// General.Colors
@base-background-color: #f0f0f0;
@default-border-color: #ccc;
@content-border-color: @default-border-color;
@content-background-color: #fff;
@collapsible-heading-border: #ccc;

// Genereal.Popups
@popup-padding: 10px;
@popup-background: @base-background-color;
@popup-border-color: @default-border-color;
@error-popup-background: #ee9;

// General.Images
@default-icon-size: 16px;

// EditFrom.Colors
@form-error-color: #f33;

//End General

// Login
@login-content-size-width: 430px;
@login-content-size-height: 150px;

//Messages
@messages-error-border: #f66;
@messages-error-background: #fee;

// Menu
@menu-line-height: 16px;
@menu-icon-height: @menu-line-height;
@icon-default-margin: 0px 5px 0px 0px;

//Menu.Colors
@level-step: 5%;
@hover-lighten: 10%;
@menu-background-color: @base-background-color;
@menu-item-color: #f70;
@menu-border-color: darken(@default-border-color, 10%);

@menu-item-l1-bg-color: @menu-background-color;
@menu-item-l1-hover-bg-color: lighten(@menu-item-l1-bg-color, @hover-lighten);

@menu-item-l2-bg-color: darken(@menu-item-l1-bg-color, @level-step);
@menu-item-l2-hover-bg-color: lighten(@menu-item-l2-bg-color, @hover-lighten);

@menu-item-l3-bg-color: darken(@menu-item-l2-bg-color, @level-step);
@menu-item-l3-hover-bg-color: lighten(@menu-item-l3-bg-color, @hover-lighten);

// End Menu

// Approval route editor
@sidebar-color: @content-background-color;
// End approval route editor

// Approval List
@table-font-size: 8pt;
@ordinary-font-size: 10pt;
@title-font-size: 12pt;

@approval-list-row-line-height: 1.5*@table-font-size;

// page sizes
@approval-list-cell1: 45mm;
@approval-list-cell2: 5mm;
@approval-list-cell3: 60mm;
@approval-list-cell4: 45mm;
@approval-list-cell5: 5mm;
@approval-list-cell6: 32mm;

@approval-list-cell-vertical-padding: 0;
@approval-list-cell-horizontal-padding: 2mm;

@page-margin-top: 20mm;
@page-margin-right: 5mm;
@page-margin-bottom: 12.5mm;
@page-margin-left: 12.5mm;

// sum of cell + margin-left + margin-right MUST be 210mm or less
// End Approval List