{% load recursive %}
{% load i18n %}

<div class="navbar" id='main-menu'>
    <div class="navbar-inner">
        <span class='logo'>
            <img src='{{ STATIC_URL }}img/hdr_logo.png'/>
        </span>
        <ul class='nav'>
            {% for item in menu %}
                {% defrecurse item %}
                    <li id='{{ item.html_id|default:'' }}'
                        class='

                                {{ item.css_class|default:'' }}{% if item.has_children %} {{ item.get_dropdown_class }}{% endif %}'
                            >
                        <a href="{{ item.url|default:"" }}">
                            {% with caption=item.get_caption image=item.get_image %}
                                {% if image.url %}<img src="{{ STATIC_URL }}img/{{ image.url }}"/>{% endif %}
                                {% if caption %}<span>{{ caption }}</span>{% endif %}
                            {% endwith %}
                        </a>
                        {% if item.has_children %}
                            <ul class="dropdown-menu" role="menu">
                                {% for sub_menu in item.get_children %}
                                    {% recurse sub_menu %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% enddefrecurse %}
            {% endfor %}
        </ul>
        <div class='span2 current-user-indicator'>
            <div>{% trans "Вы вошли как" %}</div>
            <div>{{ user.profile.short_name }}</div>
        </div>
    </div>
</div>