{% extends "base_layout.html" %}
{% load static from staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' type="text/css" href="{% static "css/datatables_bundle.css" %}"/>
{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript' src="{% static "js/lib/datatables/jquery.dataTables.js" %}"></script>
    <script type='text/javascript' src="{% static "js/lib/datatables/dt_bootstrap.js" %}"></script>
    <script type='text/javascript' src="{% static "js/lib/datatables/datatables-ru.js" %}"></script>
    <script type='text/javascript' src="{% static "js/app/ajax_configurable_datatables.js" %}"></script>
{% endblock scripts %}