{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html id='doc'>
<head>
    <title>
        {% block maintitle %}{% trans "Утверждение документов" %}{% endblock maintitle %}
        {% block subtitle %}{% endblock subtitle %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/normalize.css"/>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/main_bundle.css"/>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/lib_bundle.css"/>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/device_specific_bundle.css"/>
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/browser_specific/ie.css" />
        <![endif]-->
    {% endblock styles %}


    {% block scripts %}
        <script type="text/javascript" language="JavaScript">
            document.getElementById('doc').className = 'JS';
            window.globals = {
            {% for key, url in static_urls.items %}
                {{ key }}: "{{ url }}",
            {% endfor %}
            };
        </script>
        <script type='text/javascript' language="JavaScript" src="{{ STATIC_URL }}js/require.js"
                data-main="{{ STATIC_URL }}js/main.js" data-start="{% block data_start %}{% endblock %}"></script>
    {% endblock scripts %}
</head>
<body class='{% block body_class %}main-body{% endblock body_class %}'>
<div class='container'>
    {% block content %}

    {% endblock content %}
</div>
{% block scripts_for_execution %}{% endblock %}
</body>
</html>