{% extends "base_layout.html" %}
{% load static from staticfiles %}

{% block styles %}
    <link rel='stylesheet' type="text/css" href="{% static "css/jquery.dataTables.css" %}"/>
    <link rel='stylesheet' type="text/css" href="{% static "css/dt_bootstrap.css" %}"/>
{% endblock styles %}

{% block scripts %}
    <script type='text/javascript' src="{% static "js/lib/datatables/jquery.dataTables.min.js" %}"></script>
    <script type='text/javascript' src="{% static "js/lib/datatables/dt_bootstrap.js" %}"></script>
    <script type='text/javascript' src="{% static "js/lib/datatables/ajax_configurable_datatables.js" %}"></script>
    <script type='text/javascript' src="{% static "js/lib/datatables/datatables-ru.js" %}"></script>
{% endblock scripts %}